{% extends "base.html" %}

{% block title %}Ajuda{% endblock %}

{% block content %}

<div class="container my-5">

    <div class="text-center mb-4">
        <h2>Locais de Acolhimento – Estado de São Paulo</h2>
        <p class="text-muted">Centros de Ajuda</p>
    </div>

    <div id="map" style="height: 500px; width: 100%;" data-locais='{{ locais | tojson | safe }}'>
    </div>

</div>


<div class="container my-5">

    <div class="row">

        <div class="container mb-4">
            <input type="text" id="buscaCidade" class="form-control" placeholder="Digite sua cidade...">
        </div>


        {% for item in locais %}

        <div class="col-md-4 mb-4 card-local" data-cidade="{{ item.cidade }}">

            <div class="card shadow-sm h-100">

                <div class="card-body">

                    <h5 class="card-title">
                        {{ item.nome }}
                    </h5>

                    <p class="text-muted mb-1">
                        {{ item.cidade }}
                    </p>

                    <p class="mb-1">
                        <strong>{{ item.tipo }}</strong>
                    </p>

                    <p class="mb-1">
                        📍 {{ item.endereco }}
                    </p>

                    <p class="mb-3">
                        📞 {{ item.telefone }}
                    </p>

                    <button type="button" class="btn btn-primary btn-sm btn-ver-local" data-lat="{{ item.lat }}"
                        data-lng="{{ item.lng }}" data-nome="{{ item.nome | escape }}"
                        data-cidade="{{ item.cidade | escape }}" data-tipo="{{ item.tipo | escape }}"
                        data-endereco="{{ item.endereco | escape }}" data-telefone="{{ item.telefone | escape }}">
                        Ver no mapa 📍
                    </button>

                </div>

            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}


{% block scripts %}

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script src="{{ url_for('static', filename='js/ajuda.js') }}"></script>

{% endblock %}