{% extends "base.html" %}
{% block title %}Cadastro do profissional{% endblock %}

{% block content %}

<div class="container-fluid py-5 bg-light" style="min-height:90vh;">

    <div class="row justify-content-center">

        <div class="col-lg-8">

            <div class="card shadow-lg border-0 rounded-4">

                <div class="card-body p-5">

                    <div class="text-center mb-5">

                        <i class="bi bi-person-circle text-primary" style="font-size:70px;"></i>

                        <h2 class="fw-bold mt-3">
                            Cadastro do Profissional
                        </h2>

                        <p class="text-muted">
                            Crie sua conta para acessar as funcionalidades do site.
                        </p>

                    </div>




                    <form id="formCadastroProfissional" method="POST" enctype="multipart/form-data"
                        action="{{ url_for('cadastro_profissional') }}" novalidate>
                        <h5 class="mb-3 text-primary">
                            Informações Pessoais
                        </h5>

                        <div class="row">

                            <div class="col-md-6 mb-3">

                                <label class="form-label">
                                    Nome
                                </label>

                                <input type="text" class="form-control" name="nome" required
                                    value="{{ dados.get('nome', '') }}">

                                {% if campo_erro == "nome" %}
                                <div class="text-danger small mt-1">
                                    {{ mensagem_erro }}
                                </div>
                                {% endif %}
                                {% if erros and erros.nome %}
                                <div class="text-danger small mt-1">
                                    {{ erros.nome }}
                                </div>
                                {% endif %}
                            </div>


                            <div class="col-md-6 mb-3">

                                <label class="form-label">
                                    Sobrenome
                                </label>

                                <input type="text" class="form-control" name="sobrenome"
                                    value="{{ dados.get('sobrenome', '') }}">

                                {% if campo_erro == "sobrenome" %}
                                <div class="text-danger small mt-1">
                                    {{ mensagem_erro }}
                                </div>
                                {% endif %}

                            </div>

                        </div>

                        <div class="row">



                            <div class="col-md-4 mb-3">

                                <label class="form-label">
                                    CPF
                                </label>

                                <div class="input-group has-validation">

                                    <span class="input-group-text">
                                        <i class="bi bi-person-vcard-fill"></i>
                                    </span>

                                    <input type="text" id="cpf" class="form-control" name="cpf"
                                        placeholder="000.000.000-00" maxlength="14" value="{{ dados.cpf }}" required>

                                    <div id="erroCpf" class="invalid-feedback">
                                        CPF inválido.
                                    </div>

                                </div>

                                {% if campo_erro == "cpf" %}
                                <div class="text-danger small mt-1">
                                    {{ mensagem_erro }}
                                </div>
                                {% endif %}

                            </div>

                            <div class="col-md-4 mb-3">
                                <label class="form-label">Data de nascimento</label>

                                <input type="text" class="form-control" id="dataNascimento" name="data_de_nascimento"
                                    placeholder="dd/mm/aaaa" maxlength="10" autocomplete="bday"
                                    value="{{ dados.data_de_nascimento }}" required>


                                <div id="erroNascimento" class="invalid-feedback">
                                    Data de nascimento inválida.
                                </div>

                                {% if campo_erro == "data_de_nascimento" %}
                                <div class="text-danger small mt-1">
                                    {{ mensagem_erro }}
                                </div>
                                {% endif %}
                            </div>


                            <div class="col-md-4 mb-3">
                                <label class="form-label">Sexo</label>
                                <select class="form-select" name="sexo">

                                    <option value="">Selecione</option>

                                    <option value="Masculino" {% if dados.get('sexo')=='Masculino' %}selected{% endif
                                        %}>
                                        Masculino
                                    </option>

                                    <option value="Feminino" {% if dados.get('sexo')=='Feminino' %}selected{% endif %}>
                                        Feminino
                                    </option>

                                    <option value="Prefiro não informar" {% if dados.get('sexo')=='Prefiro não informar'
                                        %}selected{% endif %}>
                                        Prefiro não informar
                                    </option>

                                </select>

                                {% if campo_erro == "sexo" %}
                                <div class="text-danger small mt-1">
                                    {{ mensagem_erro }}
                                </div>
                                {% endif %}

                            </div>

                        </div>

                        <div class="mb-3">

                            <label class="form-label">
                                E-mail
                            </label>

                            <div class="input-group">

                                <span class="input-group-text">
                                    <i class="bi bi-envelope-fill"></i>
                                </span>

                                <input type="text" id="email" class="form-control" name="email"
                                    placeholder="email@exemplo.com" value="{{ dados['email'] }}" required>

                            </div>

                            <div id="erroEmail" class="text-danger small mt-1"></div>


                            {% if campo_erro == "email" %}
                            <div class="text-danger small mt-1">
                                {{ mensagem_erro }}
                            </div>
                            {% endif %}

                        </div>

                        <div class="mb-4">

                            <label class="form-label">
                                Telefone
                            </label>

                            <div class="input-group">

                                <span class="input-group-text">
                                    <i class="bi bi-telephone-fill"></i>
                                </span>

                                <input type="text" id="telefone" class="form-control" name="telefone"
                                    placeholder="(00) 00000-0000" maxlength="15" value="{{ dados.telefone }}" required>

                            </div>


                            {% if campo_erro == "telefone" %}
                            <div class="text-danger small mt-1">
                                {{ mensagem_erro }}
                            </div>
                            {% endif %}


                        </div>

                        <hr class="my-4">

                        <h5 class="text-primary mb-3">
                            Endereço
                        </h5>
                        <div class="row">


                            <div class="col-md-4 mb-3">

                                <label class="form-label">CEP</label>

                                <div class="input-group">

                                    <input type="text" class="form-control" id="cep" name="cep" maxlength="9"
                                        placeholder="00000-000" value="{{ dados.cep }}">

                                    <button class="btn btn-primary" type="button" id="btnBuscarCep" title="Buscar CEP">

                                        <i class="bi bi-search"></i>

                                    </button>

                                </div>

                                <small class="text-muted d-block mt-1">
                                    Não sabe seu CEP?
                                    <a href="https://buscacepinter.correios.com.br/" target="_blank">
                                        Buscar nos Correios
                                    </a>
                                </small>

                                <div id="erroCep" class="invalid-feedback">
                                    CEP não encontrado.
                                </div>

                                {% if campo_erro == "cep" %}
                                <div class="text-danger small mt-1">
                                    {{ mensagem_erro }}
                                </div>
                                {% endif %}

                            </div>


                            <!-- ESTADO -->
                            <div class="col-md-2 mb-3">

                                <label class="form-label">
                                    UF
                                </label>

                                <input type="text" class="form-control" id="estado" name="estado" readonly
                                    value="{{ dados.estado }}">

                            </div>

                            <!-- CIDADE -->
                            <div class="col-md-6 mb-3">

                                <label class="form-label">
                                    Cidade
                                </label>

                                <input type="text" class="form-control" id="cidade" name="cidade" readonly
                                    value="{{ dados.cidade }}">

                            </div>

                        </div>


                        <div class="mb-3">

                            <label class="form-label">
                                Rua
                            </label>

                            <input type="text" class="form-control" id="rua" name="rua" readonly
                                value="{{ dados.rua }}">

                        </div>


                        <div class="row">

                            <!-- NÚMERO -->
                            <div class="col-md-3 mb-3">

                                <label class="form-label">
                                    Número
                                </label>

                                <input type="text" class="form-control" id="numero" name="numero" placeholder="123"
                                    min="0">

                            </div>

                            <!-- BAIRRO -->
                            <div class="col-md-9 mb-3">

                                <label class="form-label">
                                    Bairro
                                </label>

                                <input type="text" class="form-control" id="bairro" name="bairro" readonly>

                            </div>

                        </div>

                        <hr class="my-4">

                        <h5 class="text-primary mb-3">
                            Informações Profissionais
                        </h5>

                        <div class="row">

                            <div class="col-md-4 mb-3">

                                <label class="form-label">
                                    Número do CRP
                                </label>

                                <div class="input-group">

                                    <span class="input-group-text">
                                        <i class="bi bi-patch-check-fill"></i>
                                    </span>

                                    <input type="text" id="crp" class="form-control" name="crp" placeholder="06/123456"
                                        maxlength="9" value="{{ dados.crp }}" required>

                                </div>

                                <small id="erroCrp" class="text-danger d-none">
                                    CRP inválido.
                                </small>

                            </div>

                            <div class="col-md-4 mb-3">

                                <label class="form-label">
                                    Estado do CRP
                                </label>

                                <input type="text" id="uf_crp" name="uf_crp" class="form-control" readonly
                                    value="{{ dados.uf_crp }}">

                            </div>

                            <div class="col-md-4 mb-3">

                                <label class="form-label">
                                    Experiência
                                </label>

                                <input type="number" class="form-control" name="experiencia" min="0" max="60"
                                    placeholder="Anos">

                            </div>

                        </div>

                        <div class="mb-3">

                            <label class="form-label">
                                Especialidade
                            </label>

                            <select class="form-select" name="especialidade" required>

                                <option value="">
                                    Selecione
                                </option>

                                <option>Psicologia Clínica</option>

                                <option>Terapia Cognitivo-Comportamental</option>

                                <option>Dependência Química</option>

                                <option>Dependência em Jogos</option>

                                <option>Ansiedade</option>

                                <option>Depressão</option>

                                <option>Relacionamentos</option>

                                <option>Infantil</option>

                                <option>Casais</option>

                                <option>Outro</option>

                            </select>

                        </div>

                        <div class="row">

                            <div class="col-md-6 mb-3">

                                <label class="form-label">

                                    Instituição de Ensino

                                </label>

                                <input type="text" class="form-control" name="faculdade">

                            </div>

                            <div class="col-md-6 mb-3">

                                <label class="form-label">

                                    Pós-graduação

                                </label>

                                <input type="text" class="form-control" name="pos">

                            </div>

                        </div>


                        <hr class="my-4">

                        <h5 class="text-primary mb-3">
                            Perfil Público
                        </h5>

                        <label class="form-label">

                            Mini Biografia

                        </label>

                        <textarea class="form-control" rows="5" name="biografia"
                            placeholder="Descreva sua experiência profissional..."></textarea>

                        <div class="mb-4">

                            <label class="form-label">
                                Foto de Perfil
                            </label>

                            <input type="file" class="form-control" name="foto" accept="image/png, image/jpeg">

                            <small class="text-muted">
                                Formatos aceitos: JPG ou PNG.
                            </small>

                        </div>

                        <hr class="my-4">

                        <h5 class="text-primary mb-3">
                            Segurança
                        </h5>


                        <div class="mb-3">

                            <label class="form-label">
                                Senha
                            </label>

                            <div class="input-group">

                                <span class="input-group-text">
                                    <i class="bi bi-lock-fill"></i>
                                </span>

                                <input type="password" class="form-control" id="senha" name="senha" required>

                                <button class="btn btn-outline-secondary" type="button"
                                    onclick="toggleSenha('senha','iconeSenha')">

                                    <i id="iconeSenha" class="bi bi-eye"></i>

                                </button>

                            </div>

                            <div class="form-text">

                                Deve conter entre 8 e 16 caracteres,
                                letra maiúscula,
                                número
                                e caractere especial.

                            </div>

                            <div id="forcaSenha" class="small mt-2 fw-bold">
                            </div>

                        </div>



                        <div class="mb-4">

                            <label class="form-label">
                                Confirmar senha
                            </label>

                            <div class="input-group">

                                <span class="input-group-text">
                                    <i class="bi bi-shield-lock-fill"></i>
                                </span>

                                <input type="password" class="form-control" id="confirmarSenha" name="confirmar_senha"
                                    required>

                                <button class="btn btn-outline-secondary" type="button"
                                    onclick="toggleSenha('confirmarSenha','iconeConfirmar')">

                                    <i id="iconeConfirmar" class="bi bi-eye"></i>

                                </button>

                            </div>

                        </div>


                        <div class="form-check mb-4">

                            <input class="form-check-input" type="checkbox" required id="termos">

                            <label class="form-check-label" for="termos">

                                Li e aceito os
                                <a href="#">Termos de Uso</a>
                                e a
                                <a href="#">Política de Privacidade</a>.

                            </label>

                        </div>


                        <button type="submit" class="btn btn-primary w-100 py-2 fw-bold">
                            Solicitar Cadastro
                        </button>
                    </form>

                    <div class="text-center mt-4">

                        <small>
                            Já possui uma conta?

                            <a href="{{ url_for('login') }}">
                                Fazer login
                            </a>

                        </small>

                    </div>


                    <script>
                        // =======================
                        // MOSTRAR / OCULTAR SENHA
                        // =======================

                        function toggleSenha(campoId, iconeId) {

                            const campo = document.getElementById(campoId);
                            const icone = document.getElementById(iconeId);

                            if (campo.type === "password") {
                                campo.type = "text";
                                icone.classList.remove("bi-eye");
                                icone.classList.add("bi-eye-slash");
                            } else {
                                campo.type = "password";
                                icone.classList.remove("bi-eye-slash");
                                icone.classList.add("bi-eye");
                            }

                        }



                        // =======================
                        // MÁSCARA TELEFONE
                        // =======================

                        const telefone = document.getElementById("telefone");

                        telefone.addEventListener("input", function () {

                            let valor = this.value.replace(/\D/g, "");

                            valor = valor.replace(/^(\d{2})(\d)/, "($1) $2");
                            valor = valor.replace(/(\d{5})(\d)/, "$1-$2");

                            this.value = valor;

                        });





                        const cpf = document.getElementById("cpf");
                        const erroCpf = document.getElementById("erroCpf");

                        if (cpf) {

                            cpf.addEventListener("input", function () {

                                let valor = this.value.replace(/\D/g, "");

                                valor = valor.substring(0, 11);

                                // Máscara
                                valor = valor.replace(/(\d{3})(\d)/, "$1.$2");
                                valor = valor.replace(/(\d{3})(\d)/, "$1.$2");
                                valor = valor.replace(/(\d{3})(\d{1,2})$/, "$1-$2");

                                this.value = valor;

                                const numeros = valor.replace(/\D/g, "");

                                cpf.classList.remove("is-valid", "is-invalid");

                                // Campo vazio
                                if (numeros.length === 0) {

                                    cpf.classList.add("is-invalid");

                                    erroCpf.textContent = "O CPF é obrigatório.";

                                }

                                // CPF completo
                                else if (numeros.length === 11) {

                                    if (validarCpf(valor)) {

                                        cpf.classList.add("is-valid");

                                    } else {

                                        cpf.classList.add("is-invalid");

                                        erroCpf.textContent = "CPF inválido.";

                                    }

                                }

                            });

                        }





                        function validarCpf(cpf) {

                            cpf = cpf.replace(/\D/g, "");

                            if (cpf.length !== 11)
                                return false;

                            if (/^(\d)\1+$/.test(cpf))
                                return false;

                            let soma = 0;

                            for (let i = 0; i < 9; i++)
                                soma += parseInt(cpf.charAt(i)) * (10 - i);

                            let resto = (soma * 10) % 11;

                            if (resto == 10)
                                resto = 0;

                            if (resto != parseInt(cpf.charAt(9)))
                                return false;

                            soma = 0;

                            for (let i = 0; i < 10; i++)
                                soma += parseInt(cpf.charAt(i)) * (11 - i);

                            resto = (soma * 10) % 11;

                            if (resto == 10)
                                resto = 0;

                            if (resto != parseInt(cpf.charAt(10)))
                                return false;

                            return true;


                        }

                        //=======================
                        // MÁSCARA CRP
                        //=======================

                        const regioesCRP = {
                            "01": "DF",
                            "02": "PE",
                            "03": "CE",
                            "04": "MG",
                            "05": "BA",
                            "06": "SP",
                            "07": "RS",
                            "08": "PR",
                            "09": "GO",
                            "10": "PA/AP",
                            "11": "SC",
                            "12": "RJ",
                            "13": "PB",
                            "14": "MS",
                            "15": "AL",
                            "16": "ES",
                            "17": "RN",
                            "18": "PI",
                            "19": "SE",
                            "20": "AM/RR",
                            "21": "RO/AC",
                            "22": "MA",
                            "23": "TO"
                        };

                        const crp = document.getElementById("crp");
                        const erroCrp = document.getElementById("erroCrp");
                        const ufCrp = document.getElementById("uf_crp");

                        if (crp) {

                            crp.addEventListener("input", function () {

                                let valor = this.value.replace(/\D/g, "");

                                valor = valor.substring(0, 8);

                                if (valor.length > 2) {
                                    valor = valor.replace(/^(\d{2})(\d+)/, "$1/$2");
                                }

                                this.value = valor;

                                // Identifica a UF automaticamente
                                const codigo = valor.replace(/\D/g, "").substring(0, 2);

                                crp.classList.remove("is-valid", "is-invalid");
                                erroCrp.classList.add("d-none");

                                if (ufCrp) {

                                    if (codigo.length === 2) {

                                        if (regioesCRP[codigo]) {

                                            ufCrp.value = regioesCRP[codigo];

                                        } else {

                                            ufCrp.value = "";

                                            crp.classList.add("is-invalid");
                                            erroCrp.textContent = "Código do CRP inexistente.";
                                            erroCrp.classList.remove("d-none");

                                            return;

                                        }

                                    } else {

                                        ufCrp.value = "";

                                    }

                                }

                                // Só valida quando o CRP estiver completo
                                if (valor.length === 9) {

                                    crp.classList.add("is-valid");

                                }

                            });

                        }


                        // =======================
                        // FORÇA DA SENHA
                        // =======================

                        const senha = document.getElementById("senha");

                        senha.addEventListener("keyup", () => {

                            const texto = senha.value;

                            const forca = document.getElementById("forcaSenha");

                            let pontos = 0;

                            if (texto.length >= 8 && texto.length <= 16)
                                pontos++;

                            if (texto.length > 16) {
                                forca.innerHTML = "<span class='text-danger'>Máximo de 16 caracteres</span>";
                                return;
                            }

                            if (/[A-Z]/.test(texto))
                                pontos++;

                            if (/[0-9]/.test(texto))
                                pontos++;

                            if (/[!@#$%^&*(),.?":{}|<>]/.test(texto))
                                pontos++;



                            if (pontos <= 1) { forca.innerHTML = "<span class='text-danger'>Senha fraca</span>"; } else
                                if (pontos == 2 || pontos == 3) {
                                    forca.innerHTML = "<span class='text-warning'>Senha média</span>";
                                } else {
                                    forca.innerHTML = "<span class='text-success'>Senha forte</span>";
                                }
                        });


                        //=======================
                        // CONFIRMAR SENHA
                        //=======================

                        const confirmar = document.getElementById("confirmarSenha");

                        confirmar.addEventListener("keyup", () => {

                            if (confirmar.value.length === 0)
                                return;

                            if (confirmar.value === senha.value) {

                                confirmar.classList.remove("is-invalid");
                                confirmar.classList.add("is-valid");

                            } else {

                                confirmar.classList.remove("is-valid");
                                confirmar.classList.add("is-invalid");

                            }

                        });

                        // =======================
                        // VALIDAÇÃO ANTES DO ENVIO
                        // =======================

                        const formulario = document.getElementById("formCadastroProfissional");

                        formulario.addEventListener("submit", function (event) {


                            // VALIDA CPF
                            let cpfValor = cpf.value.replace(/\D/g, "");

                            if (!validarCpf(cpfValor)) {

                                event.preventDefault();

                                cpf.classList.add("is-invalid");

                                erroCpf.textContent = "CPF inválido.";

                                cpf.focus();

                                return false;
                            }


                            // VALIDA EMAIL
                            const emailValor = email.value.trim();

                            const regexEmail = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;


                            if (!regexEmail.test(emailValor)) {

                                event.preventDefault();

                                email.classList.add("is-invalid");

                                erroEmail.textContent = "Digite um e-mail válido.";

                                email.focus();

                                return false;
                            }


                        });

                        /// MASCARA DATA

                        //=======================
                        // DATA DE NASCIMENTO
                        //=======================

                        //=======================
                        // DATA DE NASCIMENTO
                        //=======================

                        const dataNascimento = document.getElementById("dataNascimento");
                        const erroNascimento = document.getElementById("erroNascimento");

                        dataNascimento.addEventListener("input", function () {

                            let valor = this.value.replace(/\D/g, "");

                            valor = valor.substring(0, 8);

                            if (valor.length > 2)
                                valor = valor.replace(/^(\d{2})(\d)/, "$1/$2");

                            if (valor.length > 5)
                                valor = valor.replace(/^(\d{2})\/(\d{2})(\d)/, "$1/$2/$3");

                            this.value = valor;

                            this.classList.remove("is-valid", "is-invalid");

                            if (valor.length === 10) {

                                validarDataNascimento();

                            }

                        });

                        function validarDataNascimento() {

                            const valor = dataNascimento.value;

                            const partes = valor.split("/");

                            if (partes.length !== 3) {

                                invalido("Formato inválido.");
                                return false;

                            }

                            const dia = parseInt(partes[0]);
                            const mes = parseInt(partes[1]);
                            const ano = parseInt(partes[2]);

                            const hoje = new Date();

                            // Ano permitido
                            if (ano < hoje.getFullYear() - 100 || ano > hoje.getFullYear() - 18) {

                                invalido("Idade deve estar entre 18 e 100 anos.");
                                return false;

                            }

                            // Mês
                            if (mes < 1 || mes > 12) {

                                invalido("Mês inválido.");
                                return false;

                            }

                            // Dias por mês
                            const diasMes = [
                                31,
                                (ano % 4 === 0 && (ano % 100 !== 0 || ano % 400 === 0)) ? 29 : 28,
                                31,
                                30,
                                31,
                                30,
                                31,
                                31,
                                30,
                                31,
                                30,
                                31
                            ];

                            if (dia < 1 || dia > diasMes[mes - 1]) {

                                invalido("Dia inválido.");
                                return false;

                            }

                            valido();

                            return true;
                        }

                        function invalido(msg) {

                            dataNascimento.classList.remove("is-valid");
                            dataNascimento.classList.add("is-invalid");

                            erroNascimento.textContent = msg;

                        }

                        function valido() {

                            dataNascimento.classList.remove("is-invalid");
                            dataNascimento.classList.add("is-valid");

                        }

                        document.getElementById("formCadastroProfissional").addEventListener("submit", function (e) {

                            if (!validarDataNascimento()) {

                                e.preventDefault();
                                dataNascimento.focus();

                            }

                        });

                        /// MASCARA EMAIL

                        const email = document.getElementById("email");
                        const erroEmail = document.getElementById("erroEmail");

                        email.addEventListener("input", function () {

                            const valor = this.value.trim();

                            this.classList.remove("is-valid", "is-invalid");
                            erroEmail.textContent = "";

                            if (valor.length === 0) {

                                this.classList.add("is-invalid");
                                erroEmail.textContent = "O e-mail é obrigatório.";
                                return;

                            }

                            const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;


                            if (regex.test(valor)) {

                                this.classList.add("is-valid");
                                erroEmail.textContent = "";

                            } else {

                                this.classList.add("is-invalid");
                                erroEmail.textContent = "Digite um e-mail válido.";

                            }

                        });


                        // =======================
                        // MÁSCARA CEP
                        // =======================

                        const cep = document.getElementById("cep");
                        const btnBuscarCep = document.getElementById("btnBuscarCep");
                        const erroCep = document.getElementById("erroCep");

                        cep.addEventListener("input", function () {

                            let valor = this.value.replace(/\D/g, "");

                            valor = valor.substring(0, 8);

                            if (valor.length > 5) {
                                valor = valor.replace(/^(\d{5})(\d)/, "$1-$2");
                            }

                            this.value = valor;

                        });

                        function buscarCEP() {

                            const valor = cep.value.replace(/\D/g, "");

                            if (valor.length !== 8) {
                                erroCep.textContent = "Digite um CEP válido.";
                                cep.classList.add("is-invalid");
                                return;
                            }

                            cep.classList.remove("is-invalid");
                            erroCep.textContent = "";

                            fetch(`https://viacep.com.br/ws/${valor}/json/`)
                                .then(response => response.json())
                                .then(dados => {

                                    if (dados.erro) {
                                        erroCep.textContent = "CEP não encontrado.";
                                        cep.classList.add("is-invalid");
                                        return;
                                    }

                                    document.getElementById("estado").value = dados.uf;
                                    document.getElementById("cidade").value = dados.localidade;
                                    document.getElementById("rua").value = dados.logradouro;
                                    document.getElementById("bairro").value = dados.bairro;

                                    cep.classList.remove("is-invalid");
                                    cep.classList.add("is-valid");

                                })
                                .catch(() => {
                                    erroCep.textContent = "Erro ao consultar o CEP.";
                                    cep.classList.add("is-invalid");
                                });

                        }

                        btnBuscarCep.addEventListener("click", buscarCEP);

                    </script>







                    {% endblock %}