{% extends "base.html" %}
{% block title %}Cadastro do profissional{% endblock %}

{% block content %}

<div class="container-fluid py-5 bg-light" style="min-height:90vh;">

    <div class="row justify-content-center">

        <div class="col-lg-8">

            <div class="card shadow-lg border-0 rounded-4">

                <div class="card-body p-5">

                    <div class="text-center mb-5">

                        <i class="bi bi-person-circle text-primary" style="font-size:70px;"></i>

                        <h2 class="fw-bold mt-3">
                            Cadastro do Profissional
                        </h2>

                        <p class="text-muted">
                            Crie sua conta para acessar as funcionalidades do site.
                        </p>

                    </div>

                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for categoria, mensagem in messages %}

                    <div class="alert alert-{{ categoria }}">
                        {{ mensagem }}
                    </div>

                    {% endfor %}
                    {% endif %}
                    {% endwith %}

                    <form method="POST" enctype="multipart/form-data" action="{{ url_for('cadastro_profissional') }}">

                        <h5 class="mb-3 text-primary">
                            Informações Pessoais
                        </h5>

                        <div class="row">

                            <div class="col-md-6 mb-3">

                                <label class="form-label">
                                    Nome
                                </label>

                                <input type="text" class="form-control" name="nome" required value="{{ dados.nome }}">

                            </div>


                            <div class="col-md-6 mb-3">

                                <label class="form-label">
                                    Sobrenome
                                </label>

                                <input type="text" class="form-control" name="sobrenome" value="{{ dados.sobrenome }}">

                            </div>

                        </div>

                        <div class="row">



                            <div class="col-md-4 mb-3">

                                <label class="form-label">
                                    CPF
                                </label>

                                <div class="input-group">

                                    <span class="input-group-text">
                                        <i class="bi bi-person-vcard-fill"></i>
                                    </span>

                                    <input type="text" id="cpf" class="form-control" name="cpf"
                                        placeholder="000.000.000-00" maxlength="14" value="{{ dados.cpf }}" required>

                                </div>

                                <small id="erroCpf" class="text-danger d-none">
                                    CPF inválido.
                                </small>

                            </div>

                            <div class="col-md-4 mb-3">
                                <label class="form-label">Data de nascimento</label>
                                <input type="date" class="form-control" name="data_nascimento" required>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label class="form-label">Sexo</label>

                                <select class="form-select" name="sexo">

                                    <option value="">Selecione</option>

                                    <option>Masculino</option>

                                    <option>Feminino</option>

                                    <option>Prefiro não informar</option>

                                </select>

                            </div>

                        </div>
                        <div class="mb-3">

                            <label class="form-label">
                                E-mail
                            </label>

                            <div class="input-group">

                                <span class="input-group-text">
                                    <i class="bi bi-envelope-fill"></i>
                                </span>

                                <input type="email" class="form-control" name="email" required
                                    placeholder="email@exemplo.com" value="{{ dados.email }}">

                            </div>

                        </div>

                        <div class="mb-4">

                            <label class="form-label">
                                Telefone
                            </label>

                            <div class="input-group">

                                <span class="input-group-text">
                                    <i class="bi bi-telephone-fill"></i>
                                </span>

                                <input type="text" id="telefone" class="form-control" name="telefone"
                                    placeholder="(00) 00000-0000" maxlength="15" value="{{ dados.telefone }}" required>

                            </div>

                        </div>

                        <hr class="my-4">

                        <h5 class="text-primary mb-3">
                            Endereço
                        </h5>
                        <div class="row">


                            <!-- CEP -->
                            <div class="col-md-4 mb-3">

                                <label class="form-label">
                                    CEP
                                </label>

                                <input type="text" class="form-control" id="cep" name="cep" maxlength="9"
                                    placeholder="00000-000" value="{{ dados.cep }}">

                                <div id="erroCep" class="invalid-feedback">
                                    CEP não encontrado.
                                </div>

                            </div>



                            <!-- ESTADO -->
                            <div class="col-md-2 mb-3">

                                <label class="form-label">
                                    UF
                                </label>

                                <input type="text" class="form-control" id="estado" name="estado" readonly
                                    value="{{ dados.estado }}">

                            </div>

                            <!-- CIDADE -->
                            <div class="col-md-6 mb-3">

                                <label class="form-label">
                                    Cidade
                                </label>

                                <input type="text" class="form-control" id="cidade" name="cidade" readonly
                                    value="{{ dados.cidade }}">

                            </div>

                        </div>


                        <div class="mb-3">

                            <label class="form-label">
                                Rua
                            </label>

                            <input type="text" class="form-control" id="rua" name="rua" readonly
                                value="{{ dados.rua }}">

                        </div>


                        <div class="row">

                            <!-- NÚMERO -->
                            <div class="col-md-3 mb-3">

                                <label class="form-label">
                                    Número
                                </label>

                                <input type="number" class="form-control" id="numero" name="numero" placeholder="123"
                                    min="0">

                            </div>

                            <!-- BAIRRO -->
                            <div class="col-md-9 mb-3">

                                <label class="form-label">
                                    Bairro
                                </label>

                                <input type="text" class="form-control" id="bairro" name="bairro" readonly>

                            </div>

                        </div>

                        <hr class="my-4">

                        <h5 class="text-primary mb-3">
                            Informações Profissionais
                        </h5>

                        <div class="row">

                            <div class="col-md-4 mb-3">

                                <label class="form-label">
                                    Número do CRP
                                </label>

                                <div class="input-group">

                                    <span class="input-group-text">
                                        <i class="bi bi-patch-check-fill"></i>
                                    </span>

                                    <input type="text" id="crp" class="form-control" name="crp" placeholder="06/123456"
                                        maxlength="9" value="{{ dados.crp }}" required>

                                </div>

                                <small id="erroCrp" class="text-danger d-none">
                                    CRP inválido.
                                </small>

                            </div>

                            <div class="col-md-4 mb-3">

                                <label class="form-label">
                                    Estado do CRP
                                </label>

                                <input type="text" id="uf_crp" name="uf_crp" class="form-control" readonly
                                    value="{{ dados.uf_crp }}">

                            </div>

                            <div class="col-md-4 mb-3">

                                <label class="form-label">
                                    Experiência
                                </label>

                                <input type="number" class="form-control" name="experiencia" min="0" max="60"
                                    placeholder="Anos">

                            </div>

                        </div>

                        <div class="mb-3">

                            <label class="form-label">
                                Especialidade
                            </label>

                            <select class="form-select" name="especialidade" required>

                                <option value="">
                                    Selecione
                                </option>

                                <option>Psicologia Clínica</option>

                                <option>Terapia Cognitivo-Comportamental</option>

                                <option>Dependência Química</option>

                                <option>Dependência em Jogos</option>

                                <option>Ansiedade</option>

                                <option>Depressão</option>

                                <option>Relacionamentos</option>

                                <option>Infantil</option>

                                <option>Casais</option>

                                <option>Outro</option>

                            </select>

                        </div>

                        <div class="row">

                            <div class="col-md-6 mb-3">

                                <label class="form-label">

                                    Instituição de Ensino

                                </label>

                                <input type="text" class="form-control" name="faculdade">

                            </div>

                            <div class="col-md-6 mb-3">

                                <label class="form-label">

                                    Pós-graduação

                                </label>

                                <input type="text" class="form-control" name="pos">

                            </div>

                        </div>


                        <hr class="my-4">

                        <h5 class="text-primary mb-3">
                            Perfil Público
                        </h5>

                        <label class="form-label">

                            Mini Biografia

                        </label>

                        <textarea class="form-control" rows="5" name="biografia"
                            placeholder="Descreva sua experiência profissional..."></textarea>

                        <div class="mb-4">

                            <label class="form-label">
                                Foto de Perfil
                            </label>

                            <input type="file" class="form-control" name="foto" accept="image/png, image/jpeg">

                            <small class="text-muted">
                                Formatos aceitos: JPG ou PNG.
                            </small>

                        </div>

                        <hr class="my-4">

                        <h5 class="text-primary mb-3">
                            Segurança
                        </h5>


                        <div class="mb-3">

                            <label class="form-label">
                                Senha
                            </label>

                            <div class="input-group">

                                <span class="input-group-text">
                                    <i class="bi bi-lock-fill"></i>
                                </span>

                                <input type="password" class="form-control" id="senha" name="senha" required>

                                <button class="btn btn-outline-secondary" type="button"
                                    onclick="toggleSenha('senha','iconeSenha')">

                                    <i id="iconeSenha" class="bi bi-eye"></i>

                                </button>

                            </div>

                            <div class="form-text">

                                Deve conter entre 8 e 16 caracteres,
                                letra maiúscula,
                                número
                                e caractere especial.

                            </div>

                            <div id="forcaSenha" class="small mt-2 fw-bold">
                            </div>

                        </div>



                        <div class="mb-4">

                            <label class="form-label">
                                Confirmar senha
                            </label>

                            <div class="input-group">

                                <span class="input-group-text">
                                    <i class="bi bi-shield-lock-fill"></i>
                                </span>

                                <input type="password" class="form-control" id="confirmarSenha" name="confirmar_senha"
                                    required>

                                <button class="btn btn-outline-secondary" type="button"
                                    onclick="toggleSenha('confirmarSenha','iconeConfirmar')">

                                    <i id="iconeConfirmar" class="bi bi-eye"></i>

                                </button>

                            </div>

                        </div>


                        <div class="form-check mb-4">

                            <input class="form-check-input" type="checkbox" required id="termos">

                            <label class="form-check-label" for="termos">

                                Li e aceito os
                                <a href="#">Termos de Uso</a>
                                e a
                                <a href="#">Política de Privacidade</a>.

                            </label>

                        </div>


                        <button class="btn btn-primary w-100 py-2 fw-bold">

                            Solicitar Cadastro

                        </button>
                    </form>

                    <div class="text-center mt-4">

                        <small>
                            Já possui uma conta?

                            <a href="{{ url_for('login') }}">
                                Fazer login
                            </a>

                        </small>

                    </div>


                    <script>
                        // =======================
                        // MOSTRAR / OCULTAR SENHA
                        // =======================

                        function toggleSenha(campoId, iconeId) {

                            const campo = document.getElementById(campoId);
                            const icone = document.getElementById(iconeId);

                            if (campo.type === "password") {
                                campo.type = "text";
                                icone.classList.remove("bi-eye");
                                icone.classList.add("bi-eye-slash");
                            } else {
                                campo.type = "password";
                                icone.classList.remove("bi-eye-slash");
                                icone.classList.add("bi-eye");
                            }

                        }



                        // =======================
                        // MÁSCARA TELEFONE
                        // =======================

                        const telefone = document.getElementById("telefone");

                        telefone.addEventListener("input", function () {

                            let valor = this.value.replace(/\D/g, "");

                            valor = valor.replace(/^(\d{2})(\d)/, "($1) $2");
                            valor = valor.replace(/(\d{5})(\d)/, "$1-$2");

                            this.value = valor;

                        });



                        // =======================
                        // MÁSCARA CEP
                        // =======================

                        // =======================
                        // MÁSCARA CEP
                        // =======================

                        // =======================
                        // CEP
                        // =======================

                        const cep = document.getElementById("cep");
                        const erroCep = document.getElementById("erroCep");


                        function buscarCEP() {

                            const valor = cep.value.replace(/\D/g, "");

                            if (valor.length !== 8) {
                                return;
                            }


                            // limpa mensagens anteriores
                            cep.classList.remove("is-invalid");
                            cep.classList.remove("is-valid");

                            if (erroCep) {
                                erroCep.textContent = "";
                            }


                            fetch(`https://viacep.com.br/ws/${valor}/json/`)
                                .then(res => res.json())
                                .then(dados => {


                                    if (dados.erro) {


                                        cep.classList.add("is-invalid");

                                        if (erroCep) {
                                            erroCep.textContent = "CEP não encontrado.";
                                        }


                                        document.getElementById("rua").value = "";
                                        document.getElementById("bairro").value = "";
                                        document.getElementById("cidade").value = "";
                                        document.getElementById("estado").value = "";


                                        return;

                                    }



                                    document.getElementById("rua").value = dados.logradouro;
                                    document.getElementById("bairro").value = dados.bairro;
                                    document.getElementById("cidade").value = dados.localidade;
                                    document.getElementById("estado").value = dados.uf;


                                    cep.classList.add("is-valid");


                                })


                                .catch(() => {


                                    cep.classList.add("is-invalid");


                                    if (erroCep) {
                                        erroCep.textContent = "Erro ao consultar o CEP.";
                                    }


                                });

                        }

                        const cpf = document.getElementById("cpf");
                        const erroCpf = document.getElementById("erroCpf");

                        if (cpf) {

                            cpf.addEventListener("input", function () {

                                let valor = this.value.replace(/\D/g, "");

                                valor = valor.substring(0, 11);

                                // Máscara
                                valor = valor.replace(/(\d{3})(\d)/, "$1.$2");
                                valor = valor.replace(/(\d{3})(\d)/, "$1.$2");
                                valor = valor.replace(/(\d{3})(\d{1,2})$/, "$1-$2");

                                this.value = valor;

                                // Remove validações anteriores
                                cpf.classList.remove("is-valid");
                                cpf.classList.remove("is-invalid");

                                // Só valida quando tiver 11 números
                                if (valor.replace(/\D/g, "").length === 11) {

                                    if (validarCPF(valor)) {

                                        cpf.classList.remove("is-invalid");
                                        cpf.classList.add("is-valid");

                                        erroCpf.classList.add("d-none");

                                    } else {

                                        cpf.classList.remove("is-valid");
                                        cpf.classList.add("is-invalid");

                                        erroCpf.classList.remove("d-none");

                                    }

                                }

                            });

                        }



                        // =======================
                        // MÁSCARA CEP
                        // =======================

                        cep.addEventListener("input", function () {


                            let valor = this.value.replace(/\D/g, "");


                            // máximo 8 números
                            valor = valor.substring(0, 8);


                            // aplica máscara 00000-000
                            if (valor.length > 5) {

                                valor = valor.replace(/^(\d{5})(\d)/, "$1-$2");

                            }


                            this.value = valor;



                            // remove mensagens enquanto digita
                            cep.classList.remove("is-invalid");
                            cep.classList.remove("is-valid");


                            if (erroCep) {
                                erroCep.textContent = "";
                            }



                            // busca automaticamente
                            if (valor.replace(/\D/g, "").length === 8) {

                                buscarCEP();

                            }


                        });

                        function validarCPF(cpf) {

                            cpf = cpf.replace(/\D/g, "");

                            if (cpf.length !== 11)
                                return false;

                            if (/^(\d)\1+$/.test(cpf))
                                return false;

                            let soma = 0;

                            for (let i = 0; i < 9; i++)
                                soma += parseInt(cpf.charAt(i)) * (10 - i);

                            let resto = (soma * 10) % 11;

                            if (resto == 10)
                                resto = 0;

                            if (resto != parseInt(cpf.charAt(9)))
                                return false;

                            soma = 0;

                            for (let i = 0; i < 10; i++)
                                soma += parseInt(cpf.charAt(i)) * (11 - i);

                            resto = (soma * 10) % 11;

                            if (resto == 10)
                                resto = 0;

                            if (resto != parseInt(cpf.charAt(10)))
                                return false;

                            return true;


                        }

                        //=======================
                        // MÁSCARA CRP
                        //=======================

                        const regioesCRP = {
                            "01": "DF",
                            "02": "PE",
                            "03": "CE",
                            "04": "MG",
                            "05": "BA",
                            "06": "SP",
                            "07": "RS",
                            "08": "PR",
                            "09": "GO",
                            "10": "PA/AP",
                            "11": "SC",
                            "12": "RJ",
                            "13": "PB",
                            "14": "MS",
                            "15": "AL",
                            "16": "ES",
                            "17": "RN",
                            "18": "PI",
                            "19": "SE",
                            "20": "AM/RR",
                            "21": "RO/AC",
                            "22": "MA",
                            "23": "TO"
                        };

                        const crp = document.getElementById("crp");
                        const erroCrp = document.getElementById("erroCrp");
                        const ufCrp = document.getElementById("uf_crp");

                        if (crp) {

                            crp.addEventListener("input", function () {

                                let valor = this.value.replace(/\D/g, "");

                                valor = valor.substring(0, 8);

                                if (valor.length > 2) {
                                    valor = valor.replace(/^(\d{2})(\d+)/, "$1/$2");
                                }

                                this.value = valor;

                                // Identifica a UF automaticamente
                                const codigo = valor.replace(/\D/g, "").substring(0, 2);

                                crp.classList.remove("is-valid", "is-invalid");
                                erroCrp.classList.add("d-none");

                                if (ufCrp) {

                                    if (codigo.length === 2) {

                                        if (regioesCRP[codigo]) {

                                            ufCrp.value = regioesCRP[codigo];

                                        } else {

                                            ufCrp.value = "";

                                            crp.classList.add("is-invalid");
                                            erroCrp.textContent = "Código do CRP inexistente.";
                                            erroCrp.classList.remove("d-none");

                                            return;

                                        }

                                    } else {

                                        ufCrp.value = "";

                                    }

                                }

                                // Só valida quando o CRP estiver completo
                                if (valor.length === 9) {

                                    crp.classList.add("is-valid");

                                }

                            });

                        }


                        // =======================
                        // FORÇA DA SENHA
                        // =======================

                        const senha = document.getElementById("senha");

                        senha.addEventListener("keyup", () => {

                            const texto = senha.value;

                            const forca = document.getElementById("forcaSenha");

                            let pontos = 0;

                            if (texto.length >= 8 && texto.length <= 16)
                                pontos++;

                            if (texto.length > 16) {
                                forca.innerHTML = "<span class='text-danger'>Máximo de 16 caracteres</span>";
                                return;
                            }

                            if (/[A-Z]/.test(texto))
                                pontos++;

                            if (/[0-9]/.test(texto))
                                pontos++;

                            if (/[!@#$%^&*(),.?":{}|<>]/.test(texto))
                                pontos++;



                            if (pontos <= 1) { forca.innerHTML = "<span class='text-danger'>Senha fraca</span>"; } else
                                if (pontos == 2 || pontos == 3) {
                                    forca.innerHTML = "<span class='text-warning'>Senha média</span>";
                                } else {
                                    forca.innerHTML = "<span class='text-success'>Senha forte</span>";
                                }
                        });


                        //=======================
                        // CONFIRMAR SENHA
                        //=======================

                        const confirmar = document.getElementById("confirmarSenha");

                        confirmar.addEventListener("keyup", () => {

                            if (confirmar.value.length === 0)
                                return;

                            if (confirmar.value === senha.value) {

                                confirmar.classList.remove("is-invalid");
                                confirmar.classList.add("is-valid");

                            } else {

                                confirmar.classList.remove("is-valid");
                                confirmar.classList.add("is-invalid");

                            }

                        });

                    </script>

                    {% endblock %}